<div class="container">
  <div class="row">
    <h3 class="col-md-12 my-5"><%= @user.user_name %>さんの投稿一覧</h3>

  <div class="col-md-8">
      <% @items.each do |item| %>
        <div class="card mb-3" style="width: 18rem;">
          <% if item.image.attached? %>
            <%=image_tag item.image, size: "200x200" ,class:'mx-auto' %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" ,class:'mx-auto' %>
          <% end %>

          <h5 class="card-title mx-auto">
            <%= link_to item_path(item) do %>
              <%= item.title %>
            <% end %>
          </h5>

          <div class="index-rating mx-auto"><p class="card-text"><%= render 'rate', item:item %></p>
          </div>
          <p class="card-text mx-auto"><%= item.created_at.strftime('%Y/%m/%d/%T') %></p>
        </div>
      <% end %>

      </div>

      <div class="col-md-3 offset-md-1">
        <%= form_tag({controller:"items",action:"useritems"}, method: :get) do %>
          <% Tag.all.each do |t| %>
            <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
          <% end %>
          <%= submit_tag '検索' %>
        <% end %>
      </div>
    <div class="col-md-6 offset-md-6">
      <%= paginate @items ,theme: 'twitter-bootstrap-4'%>
    </div>

  </div>
</div>